h1
{
    text-align:center;
}

p{
    text-align: center;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    max-width: 80%;
    margin: auto
}

img
{
    border-radius:50%;
    margin: auto;
}

nav{
    list-style: none;
    display:inline-block;
}